#canvas {
	background-color: black;
	color: white;
	width:512px;
	height:480px;
	position: absolute;
	margin: auto;
	padding: 0;
	top: 0; left: 0; bottom: 0; right: 0;
}
body {
	background-color: #111;
}
